
#define 	XPManifest		24
#define 	BMPTHREATINFO	600
#define		IMG_LOGO_SMALL	601
#define 	IMG_TBAR 		700
#define 	IMG_PISTOL		701
#define 	IMG_BOOK		702
#define 	IMG_FILEFOLDER	703
#define 	IMG_VLOGO		704
#define 	IMG_VREDTILE	705
#define 	IMG_INSTALL 	706

#define 	IMG_LOOP_SMALL  800
#define 	IMG_LOOP_SMALL2 801
#define 	IMG_SIKIL_SMALL 802
#define 	IMG_BOOK_SMALL	803
#define		IMG_GEMBOK_SMALL 804
#define		IMG_HATI_SMALL	805
#define		IMG_WARU_SMALL	806
#define 	IMG_PAPER_SMALL 807
#define 	IMG_KUNCIINGGRIS_SMALL 808
#define 	IMG_FIXED_SMALL 	 809
#define 	IMG_REMOVABLE_SMALL	 810
#define 	IMG_CONSOLE_SMALL	811
#define 	IMG_FOLDER 		812
#define 	IMG_JEMPOL_SMALL 813
#define 	IMG_MEMORY_SMALL 814

#include "Res/AnsavMnu.rc"
#include "Res/AnsavDlg.rc"
#include "Res/StartupDlg.rc"
#include "Res/AboutDlg.rc"
#include "Res/VirusDatabaseDlg.rc"
#include "Res/AnvdbBuildingProcessDlg.rc"
#include "Res/ViewResultDlg.rc"
#include "Res/MultipleScanDlg.rc"
#include "Res/ScanLogDlg.rc"
#include "Res/ViewQuarantineDlg.rc"
#include "Res/AnsavVer.rc"
#include "Res/ConfigDlg.rc"
#include "Res/InstallDlg.rc"
#include "Res/TrustZoneDlg.rc"
#include "Res/UpdateDlg.rc"
#include "Res/servpassDlg.rc"
#include "Res/StatusDlg.rc"


1 					XPManifest DISCARDABLE "res/manifest.xml"
500					ICON DISCARDABLE PURE LOADONCALL MOVEABLE "res/main.ico"
501					ICON DISCARDABLE PURE LOADONCALL MOVEABLE "res/update.ico"
BMPTHREATINFO		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/threatinfo.bmp"
IMG_TBAR			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/bar.bmp"
IMG_LOGO_SMALL		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/logo_small.bmp"
IMG_PISTOL			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/pistol.bmp"
IMG_BOOK 			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/book.bmp"
IMG_FILEFOLDER		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/filefolder.bmp"
IMG_VLOGO			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/vlogo.bmp"
IMG_VREDTILE		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/vredtile.bmp"
IMG_INSTALL			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/install.bmp"

//; ------- image for main menu ------- ;

IMG_LOOP_SMALL		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/loop_small.bmp"
IMG_LOOP_SMALL2		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/loop_small2.bmp"
IMG_SIKIL_SMALL		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/sikil_small.bmp"

IMG_BOOK_SMALL 		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/book_small.bmp"
IMG_GEMBOK_SMALL 	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/gembok_small.bmp"
//IMG_HATI_SMALL 		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/hati_small.bmp"
IMG_WARU_SMALL 		BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/waru_small.bmp"
IMG_PAPER_SMALL 	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/paper_small.bmp"
IMG_KUNCIINGGRIS_SMALL BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/kinggris.bmp"
IMG_FOLDER			BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/folder.bmp"

IMG_FIXED_SMALL 	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/fixed_small.bmp"
IMG_REMOVABLE_SMALL BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/removable_small.bmp"
IMG_CONSOLE_SMALL 	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/console_small.bmp"
IMG_JEMPOL_SMALL	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/jempol_small.bmp"
IMG_MEMORY_SMALL	BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/memory_small.bmp"

/*
BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/"
BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/"
BITMAP DISCARDABLE PURE LOADONCALL MOVEABLE "res/"
*/