#define IDM_MAIN_MENU 10000
#define IDM_FILE_SCAN 10009
#define IDM_FILE_SCANSINGLE 10008
#define IDM_FILE_SCANMULTIPLEOBJECT 10017
#define IDM_aewsfwefds 10031
#define IDM_SCAN_MEMORY 10030
#define SEPARATOR5 10014
#define IDM_FILE_SCANALLHARDISK 10015
#define IDM_FILE_SCANALLREM 10016
#define IDM_23ewdas 10025
#define IDM_FILE_SCANONLYWINDIR 10006
#define IDM_FILE_SCANSYSDIR 10024
#define IDM_FILE_EXIT 10001
#define IDM_VIEW 10002
#define IDM_VIEW_RESULT 10012
#define IDM_VIEW_CONSOLELOG 10018
#define IDM_VIEW_VDB 10011
#define khyrtfvc76 10029
#define IDM_VIEW_QUARZONE 10007
#define IDM_VIEW_TRUSTZONE 10028
#define IDM_W4RFSQ 10027
#define IDM_VIEW_CLEARLIST 10026
#define IDM_ADVANCED 10004
#define IDM_AUTOSHUTDOWN 10019
#define IDM_EPARATOR4 10005
#define IDM_ADVANCED_CONFIG 10003
#define IDM_HELP_INSTALL 10021
#define IDM_SEPARATOR07 10020
#define IDM_HELP_MANUAL 10013
#define IDM_HELP_README 10022
#define IDM_SEPARATOR11 10023
#define IDM_HELP_UPDATE 10010
#define IDM_HELP_SUBMITTHREAT 10032
#define IDM_HELP_ABOUT 10101
IDM_MAIN_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Quick &scan",IDM_FILE_SCAN
    MENUITEM "S&can single file",IDM_FILE_SCANSINGLE
    MENUITEM "Scan &multiple object",IDM_FILE_SCANMULTIPLEOBJECT
    MENUITEM "",IDM_aewsfwefds,0x00000800
    MENUITEM "Scan Memo&ry",IDM_SCAN_MEMORY
    MENUITEM "",SEPARATOR5,0x00000800
    MENUITEM "Scan &all hardisk",IDM_FILE_SCANALLHARDISK
    MENUITEM "Scan all &removable media",IDM_FILE_SCANALLREM
    MENUITEM "",IDM_23ewdas,0x00000800
    MENUITEM "Scan &WINDOWS directory",IDM_FILE_SCANONLYWINDIR
    MENUITEM "Scan S&YSTEM directory",IDM_FILE_SCANSYSDIR
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    MENUITEM "&Result",IDM_VIEW_RESULT
    MENUITEM "&Log window",IDM_VIEW_CONSOLELOG
    MENUITEM "",,0x00000800
    MENUITEM "&Threats Database",IDM_VIEW_VDB
    MENUITEM "",khyrtfvc76,0x00000800
    MENUITEM "&Quarantine Zone",IDM_VIEW_QUARZONE
    MENUITEM "&Trust Zone",IDM_VIEW_TRUSTZONE
    MENUITEM "",IDM_W4RFSQ,0x00000800
    MENUITEM "&Clear list",IDM_VIEW_CLEARLIST
  END
  POPUP "&Options",IDM_ADVANCED
  BEGIN
    MENUITEM "&Shutdown after scan finished",IDM_AUTOSHUTDOWN
    MENUITEM "",IDM_EPARATOR4,0x00000800
    MENUITEM "&Configuration",IDM_ADVANCED_CONFIG
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Install Ansav",IDM_HELP_INSTALL
    MENUITEM "",IDM_SEPARATOR07,0x00000800
    MENUITEM "User &Manual",IDM_HELP_MANUAL
    MENUITEM "&Readme",IDM_HELP_README
    MENUITEM "",IDM_SEPARATOR11,0x00000800
    MENUITEM "&Update",IDM_HELP_UPDATE
    MENUITEM "&Submit threat",IDM_HELP_SUBMITTHREAT
    MENUITEM "",,0x00000800
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END
